body {
  margin: 0;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--1 .stars__star:first-child, .stars--2 .stars__star:nth-child(-n+2), .stars--3 .stars__star:nth-child(-n+3), .stars--4 .stars__star:nth-child(-n+4), .stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  display: flex;
}

.header__logo-img {
  width: 40px;
  height: 40px;
  display: block;
}

.header__logo-img a {
  width: 100%;
  height: 100%;
  display: block;
}

.header__logo-img a img {
  width: 100%;
  height: 100%;
}

.nav {
  display: block;
}

.nav__item {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__link {
  white-space: nowrap;
  cursor: pointer;
  color: #000;
  align-items: center;
  height: 60px;
  margin-right: 20px;
  display: flex;
  position: relative;
}

.nav__link:first-child {
  color: #00acdc;
  margin-left: 0;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link a {
  color: #060b35;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  transition: color .3s;
  display: flex;
  position: relative;
}

.nav__link.is-active {
  position: relative;
}

.nav__link.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 8px;
  width: 37px;
  height: 4px;
  position: absolute;
  bottom: -4px;
  left: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  color: #060b35;
  font-family: Roboto, serif;
}

.container {
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 48px 46px;
  padding: 50px 40px;
  display: grid;
}

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  margin: 0 auto;
  transition: transform .3s;
}

.card:hover {
  z-index: 1;
  transform: scale(1.2);
}

.card__image {
  margin-bottom: 40px;
  width: 160px;
  height: 134px;
  margin-inline: auto;
  display: block;
}

.card__title {
  text-align: center;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  transition: color .3s;
}

.card:hover .card__title {
  color: #34568b;
}

.card__product-code {
  color: #616070;
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
}

.card__rating {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.card__reviews {
  font-size: 10px;
  line-height: 14px;
}

.card__price {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.card__price__label {
  color: #616070;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__price__value {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__button {
  box-sizing: border-box;
  color: #fff;
  text-transform: uppercase;
  background-color: #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  display: flex;
}

.card__button:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}

.nav__link a {
  transition: color .3s;
}

.nav__link a:hover {
  color: #00acdc;
}

@media (width >= 488px) {
  .container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .container {
    grid-template-columns: repeat(4, 200px);
  }
}
/*# sourceMappingURL=index.e378193d.css.map */
