$card-width: 200px;
$main-text-color: #060b35;
$secondary-text-color: #616070;
$blue_color_for_card: #00acdc;
$primary-lineheight: 18px;
$secondary-lineheight: 14px;
$stars-size: 16px;
$gap_between_card: 48px 46px;
$card_width: 200px;
$container-padding-vertical: 50px;
$container-padding-horizontal: 40px;
$nav-link-color: #060b35;
